/*************************
* To Do
*
* Mount the button to the bottom of the card
* SVG is screwing up the responsiveness, research more
*
*
*
*
*****************/


/*************************
* Imports
*************************/
@import url("https://fonts.google.com/specimen/Manrope");

/*************************
* Variables
*************************/
// Screen Size
$mobile: 375px;
$desktop: 1440px;

// Colors
    //Primary
     $lightCyan: hsl(193, 38%, 86%);
     $neonGreen: hsl(150, 100%, 66%);
    //Secondary
     $grayishBlue: hsl(217, 19%, 38%);
     $darkGrayishBlue: hsl(217, 19%, 24%);
     $darkBlue: hsl(218, 23%, 16%);

// Font Details
$fontQuoteSize: 28px;
$fontWeight: 600;

/*************************
* Generic Stylings
*************************/
//Normalize
html, body, main{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Manrope', sans-serif;
}

body{
    background-color: $darkBlue;
}

main{
    display: flex;
}

footer{
    position: absolute;
    bottom: .5em;
    width: 100%;
    text-align: center;
    color: white;
}
.footer--p--source, .footer--p--author{
    color: white;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $darkGrayishBlue;
    width: 75%;
    height: 40%;
    margin: auto;
    padding: 1em 1em 0px 1em;
    border-radius: 15px;
}

.card--quote{
    font-size: $fontQuoteSize;
    color: $lightCyan;
    font-weight: $fontWeight;
    text-align: center;
   }

.card--title{
    color: $neonGreen;
    font-size: .5 * $fontQuoteSize;
    letter-spacing: 5px;
    padding: 0px;
  }

  .card--button{
    background-color: $neonGreen;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/*************************
* Mobile
*************************/
@media only screen and (max-width: $mobile) {

    .card{
        width: 80%;
        height: 40%;
        
    }

    .card--button{
        width: 80px;
        height: 80px;
        &:active{
            box-shadow: 0 0 50px $neonGreen;
            transition: 0.2s;
            cursor: pointer;
        }
     }

    .card--divider--desktop{
        display: none;
    }

    
}

/*************************
* Desktop
*************************/
@media only screen and (min-width: $mobile) {
    .card{
        padding: 2em 2em 0px 2em;
       
    }
    
    .card--divider--mobile{
        display: none;
    }

    .card--button{
        width: 70px;
        height: 70px;
        bottom: 0px;
        &:hover{
            box-shadow: 0 0 50px $neonGreen;
            transition: 0.2s;
            cursor: pointer;
        }
     }
}