/*************************
* Variables
*************************/
// Screen Size
$mobile: 375px;
$desktop: 1440px;

// Colors
    //Primary

    //Secondary

// Font Details


/*************************
* Generic Stylings
*************************/
//Normalize
html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}

footer{
    position: absolute;
    bottom: .5em;
    width: 100%;
    text-align: center;
}


/*************************
* Mobile
*************************/
@media only screen and (max-width: $mobile) {
p{
    color: red;
}
}
/*************************
* Desktop
*************************/
